 Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

*.sh
*.iar


# Files in PuglieseWeb

puglieseweb/antena1tlmy.txt
puglieseweb/antena2tlmy.txt
puglieseweb/diskspace.txt
puglieseweb/tiempo.shtml
